.footer {
  border-top: 2px solid;
  text-align: center;
  padding: 1.6rem;
}
.footer_text {
  font-size: 0.8rem;
}
.logos {
  justify-self: flex-end;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.logos .logo {
  width: 28%;
  max-width: 250px;
  display: flex;
  align-items: center;
}

.logos .logo img {
  width: 100%;
  height: auto;
}
@media (min-width: 1700px) {
  /* .footer_text{
        font-size: 1.2rem;
    } */
}

@media (max-width: 500px) {
  .footer_text {
    font-size: 0.4rem;
  }
  .footer {
    padding: 1rem;
  }
}
