.content{
    max-width: 1500px;
    margin: 2rem auto;
    text-align: center;
}
button {
    min-width: 170px;
    padding: 12px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    border: none;
}

.buttonbox{
   
}
/* .img{
   background: url("../assets/director.jpg");
   height: 150px;
   width: 200px;
   background-size: cover;
  background-repeat: no-repeat;
} */

.img{
    height: 150px;
    width: 200px;
}
.patron{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem 0;
}

.shadowbutton {
    background:#1bbbac ;
    color: white;
    border-radius: 5px;
    box-shadow: 0 3px 5px #777777;
}
.name{
    font-size:0.8rem;
}