.registration{
    background-color:#D3D3D3 ;
    padding:5rem 2rem;
}
.content{
    margin: 2rem auto;
    max-width:2000px;
}
.heading{
    text-align: center;
    color:#d72645 ;
    font-size: 1.5rem;
}
.text{
    text-align: center;
    margin: 2rem 1rem;
    font-size: 1.2rem;
    color: #666666;
}
.flex
{
    display: flex;
    margin: 2rem;
    justify-content: space-around;
}
.box1,.box2{
    text-align: center;
}
.heading2{
    color: #d72645;
    margin: 2rem 0;
    font-size: 2rem;
}

.text2{
    color: #666666;
    margin: 1rem;
    font-size: 1.2rem;
}
.span{
    font-weight: bold;
}
.text3{
    color: #666666;
    margin: 1.2rem 2rem;
    line-height:2;
}
.center{
    text-align: center;
}
.text4{
    color: #666666;
    margin: 1.2rem 2rem;
    line-height:2;
    font-weight: bold;
}

@media (min-width:1600px)
{
    .heading{
        font-size:2rem;
    }
    .text{
        font-size:1.5rem ;
    }
    .heading2{
        font-size: 2.3rem;
    }
    .text2{
        font-size: 1.5rem;
    }
    .text3{
        font-size: 1.5rem;
    }
    .text4{
        font-size: 1.5rem;
    }
}


@media (max-width:500px)
{
    .heading{
        font-size: 1rem;
    }
    .text{
        font-size:1rem;
    }
    .heading2{
        font-size: 1.2rem;
    }
    .text2{
        font-size: 1rem;
    }
    .text3{
        margin: 1rem 0;
    }
    .text4{
        margin: 1rem 0;
    }
    .flex{
        flex-direction:column;
        margin: 0;
    }
}