.expand-tracks {
  min-width: 200px;
  width: 15%;
  min-height: 200px;
  height: fit-content;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  background-color: var(--main-color);
  transition: height 0.5s ease;
  /* background: url("../assets/21770.jpg") no-repeat right top;
  background-size: cover; */
}
.track-heading {
  font-family: "Bitter", serif;
  color: var(--main-color);
  line-height: 1.5;
  margin: 20px;
  font-weight: 600;
  font-size: 1.3rem;
  border: none;
  color: white;
}
.track-list > * {
  color: rgb(67, 67, 68);
  transition: all 0.5s;
  font-size: 1rem;
}
.expand-tracks .fa {
  font-size: 30px;
  cursor: pointer;
  color: white;
  margin-bottom: 10px;
}
.track-list.two {
  list-style: none;
  text-align: left;
  background: white;
  padding-left: 10%;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: height 0.5s ease;
}
.track-list.two.expand {
  height: 370px;
  transition: height 0.5s ease;
}
@media screen and (max-width: 550px) {
  .track-heading {
    font-size: 1rem;
    margin: 10px;
  }
  .expand-tracks {
    min-height: 150px;
    min-width: 150px;
  }
  .track-list.two.expand {
    height: 280px;
  }
  .track-list > * {
    font-size: 0.8rem;
  }
}
