.main {
  /* background-color: #d3d3d3; */
  background-color: white;
  height: 100%;
}
.content {
  padding: 2rem 2rem 0 2rem;
  margin: 2rem auto 0 auto;
  max-width: 2000px;
  text-align: center;
}
.heading {
  text-align: center;
  color: #d72645;
  font-size: 3rem;
  border-bottom: 5px solid #d72645;
  display: inline-block;
  padding: 0 15px;
}
.content {
  text-align: center;
  color: #666666;
  font-size: 1rem;
  line-height: 1.8;
}
.location {
  display: flex;
  justify-content: space-around;
  margin: 3rem 2rem;
}
.pic {
  height: 500px;
  width: 80%;
  border-radius: 0.8rem;
}
.map {
  border-radius: 0.8rem;
  width: 80%;
  height: 400px;
  margin: 3rem;
}

@media (min-width: 1700px) {
  .heading {
    font-size: 2.5rem;
  }
  .pic {
    height: 800px;
    width: 90%;
    margin: 2rem;
  }
  .content {
    font-size: 1.2rem;
    line-height: 2;
  }
  .map {
    height: 800px;
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .heading {
    font-size: 2rem;
  }
  .pic {
    height: 400px;
    width: 90%;
  }
  .content {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .pic {
    height: 350px;
    width: 100%;
  }
  .map {
    width: 90%;
    margin: 2rem;
  }
}

@media (max-width: 500px) {
  .heading {
    font-size: 1.8rem;
  }
  .main {
    padding-bottom: 2rem;
  }
  .pic {
    height: 200px;
    margin: 0;
  }
  .content {
    padding: 4rem 0.8rem;
    font-size: 0.8rem;
  }
  .map {
    width: 90%;
    height: 300px;
    margin: 0.6rem;
  }
}
