.main{
    background-color:#D3D3D3 ;
    padding: 2rem 2rem;
    padding-top: 5rem;
    height: 100%;
}
.content{
    margin: 2rem auto;
    max-width:2000px;
    text-align: center;
}
.heading{
    text-align: center;
    color:#d72645 ;
    font-size: 3rem;
}
.content{
    text-align: center;
    color: #666666;
    font-size: 1.1rem;
    line-height: 1.8;
}
.location{
    display: flex;
    justify-content:space-around;
    margin:3rem 2rem;
}
.pic{
    height:500px;
    width:80%;
    border-radius: 0.8rem;
}
.map{
    border-radius: 0.8rem;
    width:80%;
    height:400px;
    margin: 3rem;
}

@media  (min-width:1700px)
{
    .main{
        padding-top: 7rem;
    }
   .heading{
       font-size:4.2rem;
   }
   .pic{
       height: 800px;
       width: 90%;
       margin: 2rem;
   }
   .content{
       font-size:2.3rem;
       line-height: 2;
   }
   .map{
       height: 800px;
       width: 90%;
   }
}

@media (max-width:1024px)
{
    .heading{
        font-size: 2.5rem;
    }
    .pic{
        height: 400px;
        width: 90%;
    }
    .content{
        font-size: 1rem;
    }
}

@media (max-width:768px)
{
    .pic{
        height: 350px;
        width: 100%;
    }
    .map{
        width:90%;
        margin:2rem;
    }
}

@media(max-width:500px)
{
    .heading{
        font-size:1.8rem;
    }
    .main{
        padding:4rem 0.8rem;
        padding-bottom: 2rem;
    }
    .pic{
        height: 200px;
        margin: 0;
    }
    .content{
        font-size: 0.8rem;
    }
    .map{
        width: 90%;
        height:300px;
        margin: 0.6rem;
    }
}